<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Потверждение почты</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/login/login.css" th:href="@{/login/login.css}" type="text/css">
</head>
<body>
<div class="dws-wrapper">
    <img alt="logo" class="logo" width="310" src="/login/logo.svg" th:src="@{/login/logo.svg}">
    <div class="dws-form">
        <div class="tab-form active">
            <label
                   th:text="${'На Вашу почту '+user.username+' выслано письмо с подтверждением, перейдите по ней для продолжения регистрации.'}"></label>
            <input class="hidden" name="email" type="email" th:field="${user.username}" th:value="${user.username}">
            <span style="text-align: center;" id="dateRegistration"></span>
            <a style="text-align: center;" th:href="@{/login?form=formRegistration}">Указать другой почтовый адрес</a>
            <button id="sendMailButton" class="button hidden" onclick=window.location.reload()>
                Отправить письмо повторно
            </button>
        </div>
    </div>
</div>
<script>
    let time = [[${user.dateRegistration}]];
    updateTime();
    var timerId = null;
    timerId = setInterval(
        () => updateTime(),
        1000
    );

    function updateTime() {
        let dateNow = time - new Date().getTime();
        if (dateNow < 0) {
            document.getElementById("dateRegistration").textContent = "";
            document.getElementById("sendMailButton").classList.remove("hidden");
            if (timerId != null)
                clearInterval(timerId);
            return;
        }
        let min = dateNow / 1000 / 60 | 0;
        let sec = dateNow / 1000 - min * 60 | 0;
        document.getElementById("dateRegistration").textContent = "Повторно отправить код можно через " + ('0' + min).slice(-2) + ":" + ('0' + sec).slice(-2);
    }
</script>
</body>
</html>