<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Форма авторизации</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/login/login.css}" type="text/css">
    <script th:src="@{/login/jquery.min.js}"></script>
    <script th:src="@{/login/login.js}"></script>
</head>
<body>
<div class="dws-wrapper">
    <img alt="logo" class="logo" width="310" th:src="@{/login/logo.svg}">
    <div class="dws-form">
        <label class="tab active" title="Login" form_id="formLogin">Авторизация</label>
        <label class="tab " title="Registration" form_id="formRegistration">Регистрация</label>

        <form class="tab-form active" method="post" id="formLogin" th:action="@{/login}" th:object="${user}">
            <input class="input" th:field="${user.username}" th:value="${user.username}" name="email" type="email"
                   placeholder="Введите E-mail" id="email">
            <input class="input" th:field="${user.password}" name="password" type="password"
                   placeholder="Введите пароль" id="password">
            <input type="submit" value="Войти" class="button">
            <a form_id="formRecoveryPassword" class="tab ">Я забыл свой пароль</a>
            <div style="text-align: center;" th:if="${param.logout}">Вы вышли из аккаунта.</div>
            <span class="apply" th:if="regSuccess!=null" th:text="${regSuccess}"></span>
        </form>

        <form class="tab-form" th:action="@{/registration}" th:object="${user}" id="formRegistration" method="post">
            <input class="input" th:field="${user.username}" th:value="${user.username}" name="email" type="email"
                   placeholder="Введите E-mail адрес">
            <input class="input" th:field="${user.password}" name="password" type="password"
                   placeholder="Введите пароль">
            <input class="input" th:field="${user.confirmPassword}" name="password2" type="password"
                   placeholder="Подтвердите пароль">
            <span>
                <input type="checkbox" required>
                Я принимаю <a href="#" target="_blank">условия регистрации</a>
            </span>
            <div class="errors" th:if="${regError != null}">
                <ul>
                    <li th:each="err : ${regError}" th:text="${err}"/>
                </ul>
            </div>
            <input type="submit" class="button" value="Регистрация">
        </form>

        <form class="tab-form" method="post" th:action="@{/recovery}" th:object="${user}" id="formRecoveryPassword">
            <input class="input" th:field="${user.username}" th:value="${user.username}" name="email" type="email"
                   placeholder="Введите E-mail адрес">
            <div class="errors" th:if="${recoveryError != null}">
                <ul>
                    <li th:each="err : ${recoveryError}" th:text="${err}"/>
                </ul>
            </div>
            <input type="submit" value="Восстановить пароль" class="button">
        </form>
    </div>
</div>
<script>
    const queryString = window.location.search;
    console.log(queryString);
    const urlParams = new URLSearchParams(queryString);
    const formId = urlParams.get('form')
    if (formId != null)
        clickOnForm($(".tab[form_id=" + formId + "]"));
</script>
<script th:if="${regError != null}">
    clickOnForm($(".tab[form_id=formRegistration]"));
</script>
<script th:if="${recoveryError != null}">
    clickOnForm($(".tab[form_id=formRecoveryPassword]"));
</script>
</body>
</html>