<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Изменение пароля</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/login/login.css" th:href="@{/login/login.css}" type="text/css">
</head>
<body>
<div class="dws-wrapper">
    <img alt="logo" class="logo" width="310" src="/login/logo.svg" th:src="@{/login/logo.svg}">
    <div class="dws-form">
        <form class="tab-form active" method="post" th:action="@{/recoveryPassword}" th:object="${user}" id="formLogin">
            <input class="hidden" name="username" type="text" th:field="${user.username}" th:value="${user.username}">
            <input class="hidden" name="activationCode" type="text" th:field="${user.activationCode}" th:value="${uuid}">
            <label for="password">Придумайте новый пароль</label>
            <input class="input" type="password" placeholder="Введите пароль" id="password" th:field="${user.password}">
            <input class="input" type="password" placeholder="Подтвердите пароль" id="key" th:field="${user.confirmPassword}">
            <div class="errors" th:if="${recoveryError != null}">
                <ul>
                    <li th:each="err : ${recoveryError}" th:text="${err}"/>
                </ul>
            </div>
            <input type="submit" class="button" value="Сохранить пароль">
        </form>
    </div>
</div>
<script>
    let time = [[${user.dateRegistration}]];
    updateTime();
    var timerId = null;
    timerId = setInterval(
        () => updateTime(),
        1000
    );

    function updateTime() {
        let dateNow = time - new Date().getTime();
        if (dateNow < 0) {
            document.getElementById("dateRegistration").textContent = "";
            document.getElementById("sendMailButton").classList.remove("hidden");
            if (timerId != null)
                clearInterval(timerId);
            return;
        }
        let min = dateNow / 1000 / 60 | 0;
        let sec = dateNow / 1000 - min * 60 | 0;
        document.getElementById("dateRegistration").textContent = "Повторно отправить код можно через " + ('0' + min).slice(-2) + ":" + ('0' + sec).slice(-2);
    }
</script>
</body>
</html>