@CHARSET "UTF-8";

* {
    border-radius: 0 !important;
}

a {
    text-decoration: none !important;
}

html, body {
    font-family: "Gotham SSm A", "Gotham SSm B", Verdana, sans-serif;
    background-color: #f4f4f4;
    color: #454545;
    font-size: 16px;
}

td, th {
    word-break: break-word;
}

#header-top {
    height: 131px;
    border-bottom: 1px solid #ccc;
    padding-top: 40px;
}

#header-sitename {
    margin: 0;
}

#header-sitename a {
    color: inherit;
}

#header-tagline {
    color: #bbb;
}

#header-logo {
    max-width: 80px;
    padding-left: 0px;
}

#header-langselect {
    font-size: 12px;
}

#header-langselect li {
    padding: 0px;
}

#header-mozoneloginbutton {
    font-size: 13.5px;
    width: 207px;
}

#main-menu {
    background: #fff;
}

#optional-fields-toggle {
    font-size: 13px;
}

@media (max-width: 767px) {
    #main-menu li {
        margin: 0 25px;
    }

    #footer-service-menu {
        font-size: 12px;
    }

    .breadcrumb {
        font-size: 12px;
    }

    #optional-fields-toggle {
        font-size: 11px;
    }
}

.g-recaptcha > div > div {
    width: inherit !important;
    position: relative;
    display: block;
    padding: 0;
    overflow: hidden;
    max-width: 302px;
    border-right: 1px solid #d3d3d3;
    border-radius: 4px;
    box-shadow: 2px 0px 4px -1px rgba(0, 0, 0, .08);
    -webkit-box-shadow: 2px 0px 4px -1px rgba(0, 0, 0, .08);
    -moz-box-shadow: 2px 0px 4px -1px rgba(0, 0, 0, .08)
}

.g-recaptcha iframe {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0
}

.g-recaptcha > div {
    position: relative
}

.g-recaptcha > div:before {
    content: 'Loading captcha...';
    position: absolute;
    top: 38%;
    left: 0
}

.g-recaptcha:empty:before {
    content: ' '
}


/* full screen */
@media (min-width: 1200px) {
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
    #recaptcha-label {
        display: none
    }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    #recaptcha-label {
        display: none
    }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
    #recaptcha-label {
        display: none
    }
}

#main-container {
    padding-top: 25px;
    font-size: 15px;
}

#site-footer {
    background-color: #fff;
    padding: 25px 0 0 0;
}

#footer-service-menu {
    margin-top: 25px;
    padding: 20px 0;
    border-top: 1px solid #ddd;
}

#footer-service-menu li {
    padding: 0;
}

#footer-service-menu li + li::before {
    content: " | ";
}

/* buttons */
a.btn:hover,
input[type=submit]:hover,
button.btn:hover,
span.btn:hover {
    -moz-box-shadow: 1px 1px 5px #ccc;
    -webkit-box-shadow: 1px 1px 5px #ccc;
    box-shadow: 1px 1px 5px #ccc;
}

a.btn.orange,
input[type=submit].orange,
button.btn.orange,
span.btn.orange {
    background-color: #F26334;
    border-color: #F26334;
}

a.btn.orange:hover,
input[type=submit].orange:hover,
button.btn.orange:hover,
span.btn.orange:hover {
    background-color: #CC3C0D;
    border-color: #CC3C0D;
}

a.btn.peach,
input[type=submit].peach,
button.btn.peach {
    background-color: #FBB034;
    border-color: #FBB034;
}

a.btn.peach:hover,
input[type=submit].peach:hover,
button.btn.peach:hover {
    background-color: #de8c04;
    border-color: #de8c04;
}

a.btn.green,
input[type=submit].green,
button.btn.green {
    background-color: #7AC143;
    border-color: #7AC143;
}

a.btn.green:hover,
input[type=submit].green:hover,
button.btn.green:hover {
    background-color: #568a2e;
    border-color: #568a2e;
}

a.btn.pink,
input[type=submit].pink,
button.btn.pink {
    background-color: #7AC143;
    border-color: #7AC143;
}

a.btn.pink:hover,
input[type=submit].pink:hover,
button.btn.pink:hover {
    background-color: #568a2e;
    border-color: #568a2e;
}

/* buttons */
/* panels */
.panel {
    border: none;
    -webkit-box-shadow: 0px 0px 1px 1px rgba(204, 204, 204, 1);
    -moz-box-shadow: 0px 0px 1px 1px rgba(204, 204, 204, 1);
    box-shadow: 0px 0px 1px 1px rgba(204, 204, 204, 1);
}

.panel > .panel-body {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

#gepir-form-container {
    padding-bottom: 0px;
}

.panel > .panel-heading {
    background-color: #fff;
    color: #002C6C;
    background-color: #fff;
    font-size: 18px;
    margin-left: 20px;
    margin-right: 20px;
}

.panel > .panel-footer {
    background-color: #fff;
    color: #002C6C;
    background-color: #fff;
    font-size: 18px;
    margin-left: 20px;
    margin-right: 20px;
}

.panel.menu > .list-group {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}

.panel.teal {
    border-top: 5px solid #22BCB9;
}

.panel.orange {
    border-top: 5px solid #F26334;
}

.panel.blue {
    border-top: 5px solid #002C6C;
}

.panel.peach {
    border-top: 5px solid #FBB034;
}

.panel.purple {
    border-top: 5px solid #BF83B9;
}

.panel.pink {
    border-top: 5px solid #f05587;
}

.panel.green {
    border-top: 5px solid #7AC143;
}

.panel.menu {
}

.panel.menu > .panel-heading {
}

a .panel-body {
    color: #333 !important;
}

a .panel:hover {
    -webkit-box-shadow: 0px 0px 1px 1px #b3b3b3;
    -moz-box-shadow: 0px 0px 1px 1px #b3b3b3;
    box-shadow: 0px 0px 1px 1px #b3b3b3;
}

.list-unstyled.med {
    font-size: 14px;
}

.list-unstyled.small,
.list-inline.small {
    font-size: 13px;
}

.list-unstyled > li {
    margin-bottom: 0.5em;
}

.list-unstyled.small > li:last-child {
    margin-bottom: 0;
}

.list-group-item.active,
.list-group-item.active:hover {
    background-color: #fff;
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    color: #002C6C;
}

.list-group-item.active {
    background-color: #fff;
}

.alert-message,
.alert-message .alert-message {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert-warning,
.alert-warning .alert-message {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0px;
    margin-bottom: 1em;
    color: #002C6C;
}

.breadcrumb > li + li:before {
    color: #ccc;
    content: ">";
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.btn-default:hover {
    color: #333;
    background-color: #efefef;
    border-color: #adadad;
}

.btn-primary[disabled] {
    color: #333;
    background-color: #ddd !important;
    border-color: #adadad !important;
}

.btn-primary[disabled]:hover {
    color: #333;
    background-color: #ccc !important;
    border-color: #adadad !important;
}

#submit-button {
    width: 120px;
}

#search-by-file-button {
    width: 180px;
}

h1 {
    font-size: 26px;
}

h2 {
    font-size: 24px;
}

a {
    color: #008DBD;
}

#badge {
    font-size: 55%;
    top: -1.0em;
    color: #999;
    font-weight: bold;
    text-transform: lowercase;
}

a:hover {
    color: #002C6C;
    text-decoration: none;
}

.responseProvider {
    font-size: small;
    margin-bottom: 1em;
}

#responseHeader table, #response table {
    background-color: #fff;
    border: 2px solid #ddd;
}

#responseHeader th, #response th {
    background-color: #fbfbfb;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

label.error {
    color: #FF0000;
    font-size: small;
}

#togglecolumn {
    font-size: small;
}

#togglecolumn a {
    cursor: pointer
}

.dataTables_length > label,
.dataTables_filter > label {
    font-weight: normal !important;
}

#partytable {
    width: 100%;
    font-size: 14px;
}

#partytable_info {
    font-size: small;
    font-style: italic;
}

.dataTables_wrapper tr.selected {
    background-color: #ccc !important;
}

.dataTables_filter input[type=search] {
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

#site-version {
    color: #999;
    float: right;
}

#site-version::before {
    content: '' !important;
}

.fa-2 {
    font-size: 16px !important;
}

td.details-toggle {
    position: relative;
    cursor: pointer;
}

td.details-toggle:before {
    content: "\F196";
    font-family: FontAwesome;
    font-size: 15px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

tr.shown td.details-toggle {
    position: relative;
    cursor: pointer;
}

tr.shown td.details-toggle:before {
    content: "\F147";
    font-family: FontAwesome;
    font-size: 15px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}