<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Форма авторизации</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/login/login.css}" type="text/css">
    <script th:src="@{/login/jquery.min.js}"></script>
    <script th:src="@{/login/login.js}"></script>
</head>
<body>
<div class="dws-wrapper">
    <img alt="logo" class="logo" width="310" th:src="@{/login/logo.svg}">
    <div class="dws-form">
        <label class="tab active" title="Login" form_id="formLogin">Авторизация</label>
        <label class="tab " title="Registration" form_id="formRegistration">Регистрация</label>

        <form class="tab-form active" method="post" id="formLogin">
            <input class="input" name="email" type="email" placeholder="Введите E-mail" id="email">
            <input class="input" name="password" type="password" placeholder="Введите пароль" id="password">
            <input type="submit" value="Войти" class="button">
            <a form_id="formRecoveryPassword" class="tab ">Я забыл свой пароль</a>
        </form>

        <form class="tab-form" th:action="@{/registration}" th:object="${regUser}" id="formRegistration" method="post">
            <input class="input" th:field="*{username}" name="email" type="email" placeholder="Введите E-mail адрес">
            <span>
                <input type="checkbox" required>
                Я принимаю <a href="#" target="_blank">условия регистрации</a>
            </span>
            <span class="error" id="errorRegistration"></span>
            <input type="submit" class="button" value="Регистрация">
        </form>

        <form class="tab-form" method="post" id="formRecoveryPassword">
            <input class="input" name="email" type="email" placeholder="Введите E-mail адрес">
            <input type="submit" value="Восстановить пароль" class="button">
        </form>
    </div>
</div>
<script>
    const queryString = window.location.search;
    console.log(queryString);
    const urlParams = new URLSearchParams(queryString);
    const formId = urlParams.get('form')
    if (formId != null)
        clickOnForm($(".tab[form_id=" + formId + "]"));
</script>
</body>
</html>