<!DOCTYPE html>
<html dir="ltr" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Пользователи</title>

</head>
<body id="body-pd" th:fragment="sidebar">


<nav class="nav">
    <div>
        <div class="nav_list">
            <i class='bx bx-menu nav_logo-icon nav_link' id="header-toggle"></i>
            <a class="nav_link active" href="/api">
                <i class='bx bx-grid-alt nav_icon'></i>
                <span class="nav_name">Заявки</span>
            </a>
            <a class="nav_link" href="/users">
                <i class='bx bx-user nav_icon'></i>
                <span class="nav_name">Пользователи</span>
            </a>
        </div>
    </div>
    <a class="nav_link" href="javascript: document.logoutForm.submit()">
        <i class='bx bx-log-out nav_icon'></i>
        <span class="nav_name">SignOut</span>
        <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
            <input hidden type="submit" value="Sign Out"/>
        </form>
    </a>
</nav>
<script>
    document.addEventListener("DOMContentLoaded", function (event) {
        const showNavbar = (toggleId, navId, bodyId) => {
            const toggle = document.getElementById(toggleId),
                nav = document.getElementById(navId),
                bodypd = document.getElementById(bodyId);
            if (toggle && nav && bodypd) {
                toggle.addEventListener('click', () => {
                    nav.classList.toggle('show');
                    toggle.classList.toggle('bx-menu-alt-left');
                    bodypd.classList.toggle('body-pd');
                })
            }
        }
        showNavbar('header-toggle', 'nav-bar', 'body-pd')
        const linkColor = document.querySelectorAll('.nav_link')

        function colorLink() {
            if (linkColor) {
                linkColor.forEach(l => l.classList.remove('active'))
                this.classList.add('active')
            }
        }

        linkColor.forEach(l => l.addEventListener('click', colorLink));
    });
</script>
</body>
</html>